@use "./variables.scss" as *;
@use "./fonts.scss" as *;

@mixin box-shadow-updater($size, $color,$type:"") {
  @if $type == uniform{
    @if $size == sm {
      box-shadow: 0 0px 10px -5px $color;
    }@else if $size == mm {
      box-shadow: 0 0px 10px 0px $color;
    }@else{
      box-shadow: 0 0px 10px -5px $color;
    }
  }
  @else{
    @if $size == sm {
      box-shadow: 0 3px 10px -5px $color;
    }@else if $size == mm {
      box-shadow: 0 5px 10px 0px $color;
    }@else{
      box-shadow: 0 3px 10px -5px $color;
    }
  }
}

@mixin theme-updater() {
  @each $name, $theme-name in $themes {
    .#{$name} & {
      @each $color-name, $prop in $theme-name {
        @if length($prop) > 3{
            @each $number, $color in $prop {
                @if $color{
                    #{'--'+$color-name+'-'+$number}: $color;
                }
            }
        }
        @else{
            #{'--'+$color-name}: $prop;
        }
      }
    }
  }
}
