$theme-name: dark;

$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

//$primary-font-family: "Lato";
//$secondary-font-family: "Comfortaa";
//$third-font-family: "RockoFLF";

$primary-font-family: "Montserrat";
$secondary-font-family: "Open Sans";
$third-font-family: "RockoFLF";

$themes: (
    modern: (background: #ffffff,
        foreground : #000000,
        focus: #1031db,
        primary: (50 : #eaf5ff,
            100: #d8ecff,
            200: #b9dbff,
            300: #90c0ff,
            400: #6499ff,
            500: #4072ff,
            600: #1f47ff,
            700: #1031db,
            800: #1433bf,
            900: #1a3395,
            DEFAULT: #1031db),
    ),
    light1: (background: #ffffff,
        foreground : #000000,
        focus: #ffdb15,
        primary: (50 : #f3f6ef,
            100: #e5eadd,
            200: #cdd8be,
            300: #acbf97,
            400: #8ea675,
            500: #78925d,
            600: #586d43,
            700: #455536,
            800: #39452f,
            900: #323c2b,
            DEFAULT: #78925d),
    ),
    dark1: (primary_color: (31, 255, 34),
        secondary_color: (255, 255, 255),
        inputs_colors: (88, 176, 103),
        text_color: (255, 255, 255),
        secondary_text_color: (128, 128, 128),
        background_color: (0, 0, 0),
        background_opocite_color: (255, 255, 255),
        remark_color: (181, 222, 0),
        container_color: (77, 76, 76),
    ),
);