.formulary {
    background: linear-gradient(90deg, rgba(16,49,219,1) 25%, rgba(255,255,255,1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
}
.description {
    width: 50vw;
    padding: 0 20px;
    h1, p {
        color: white;
    }
}
.form {
    background-color: white;
    padding: 10px;
    width: 40vw;
    border-radius: 20px;
    h1{
        text-align: center;
    }
    .form-inputs{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .names{
            display: flex;
            gap: 5px;
        }
    }
}