@use '../../../styles/' as *;

.form {
    background-color: white;
    padding: 20px;
    width: 40vw;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;

    @media (max-width: $large) {                                                        //media
        width: 90vw;
    }

    h2 {
        text-align: center;
        padding: 0 20px;
        font-weight: bold;
    }

    .form-inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 20px 0;

        .form-contact {
            display: flex;
            gap: 5px;
        }
    }
}
