@use '../../../styles/' as *;

.footer {
    margin-bottom: 10vh;
}

.footer-bkg {
    position: relative;

    .footer-bkg-image {
        position: absolute;
        height: calc(100% + 10vh);
        display: flex;
        justify-content: center;
        overflow: hidden;

        img {
            height: calc(100% + 10vh);
            width: 100%;
            object-fit: cover;
        }
    }

}

.footer-content {
    //height: calc(100% - 10vh);
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 0 10%;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    //media------------------------------------------------------------------------------------------------------------------------------------
    @media (max-width: $medium) {
        padding: 0 10px;
    }

    .title {
        text-align: center;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        @media (max-width: $medium) {
            //media------------------------------------------------------------------
            width: 100%;
        }

        h1 {
            color: var(--background);
        }

        h3 {
            color: var(--background);
            width: 60%;
        }

        a {
            h2 {
                color: var(--focus);
            }

            svg {
                font-size: 1.5rem;
            }
        }
    }

    .footer-info {
        margin: 20px 0;
        display: flex;
        align-self: start;
        align-items: center;
        gap: 10px;
        color: var(--background);

        //media------------------------------------------------------------------
        @media (max-width: $medium) {
            flex-direction: column;
            align-self: center;
        }

        .icons {
            display: flex;

            svg {
                font-size: 4rem;

                //media------------------------------------------------------------------
                @media (max-width: $large) {
                    height: 2.5rem;
                }
            }

            img {
                height: 4rem;
            }
        }

        .contact {
            display: flex;
            align-items: center;
            border: 1px solid white;
            border-radius: 20px;
            height: 4rem;
            padding: 0 5px;
            gap: 5px;

            //media------------------------------------------------------------------
            @media (max-width: $large) {
                width: 100%;
                justify-content: center;
                height: 2.5rem;
                border-radius: 10px;
            }

            svg {
                font-size: 2.5rem;

            }

            p {
                color: var(--background);
                min-width: fit-content;
            }
        }
    }
}