@use '../../../styles/' as *;

@keyframes ping1 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}

.landing {
    .wsp {
        position: fixed;
        z-index: 50;
        right: 20px;
        bottom: 20px;

        button {
            width: 150px;
            height: 150px;
            background-color: var(--background);
            border-radius: 100%;
            box-shadow: 0px 0px 1px black;
            display: flex;
            align-items: center;
            overflow: hidden;

            a {
                display: flex;
                justify-content: center;

                img {
                    width: 70%;
                    max-width: none;
                    object-fit: cover;
                }
            }
        }
    }
}

.formulary {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;

    @media (max-width: $large) {
        //media
        flex-direction: column;
    }
}